@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 1rem;
}
html{
  height: 100%;
}
body{
  margin: auto;
  padding: 1em;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url("./images/money.png");
  background-size: cover;
  font-size: 1rem;
  
}
h3{
  font-size: 1.4rem;
}
h4{
  font-size: 1.3rem;
}
h5{
  font-size: 1.2rem;
}
.card{
  background-color: white;  
  border-radius: 3px;
  box-shadow: 2px 4px 4px 2px rgb(0, 0, 0, 20%);  
}
.income{    
  border-bottom: 10px solid rgba(0, 255, 0, .5);
}
.expense{
  border-bottom: 10px solid rgba(255, 0, 0, .5);
}
.page-wrapper{
  position: relative;
  height: 100vh;
  margin-top: 2em;
}
.detail-card{
  display: flex;
  justify-content: space-around;  
  align-items: center;  
}
.card-content{
  padding: .5em;
  height: 72vh;  
}
header{
  margin-bottom: .5em;
}
.data-display-card{
  width: 32%;  
  margin: auto;
}
.form-display-card{
  width: 28%;
  height: 80vh;
  padding: .5em;
}
.main-card-total{
  text-align: center;
  margin: 2em auto;
}
.form{
    margin-top: 1em;    
}
.form-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;       
}
.form-select{
    width: 49%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: rgb(255, 248, 248);
    padding: .2em; 
    outline: unset;   
}
.form-row2{
  padding: .1em .4em;
  width: 45.3%;
}
input[type="date"]::-webkit-calendar-picker-indicator{  
  -webkit-appearance: none;
  width: 15px;  
  margin: 0px;
  margin-top: .2em;
}

@media(max-width: 1100px){
  .form-row2{
    width: 45.3%;
  }
  *{
    font-size: .9rem;
  }
  h3{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.2rem;
  }
  h5{
    font-size: 1rem;
  }
  body{
    font-size: 1rem;
  }
  .form-display-card{
    height: 75vh;
  }
  .card-content{
    height: 60vh;
  }
}

@media(max-width: 940px){
  .form-select{
    font-size: .7rem;
  }
}
@media(max-width: 800px){  
  *{
    font-size: .8rem;
  }  
  h3{
    font-size: 1.2rem;
  }
  h4{
    font-size: 1rem;
  }
  h5{
    font-size: .9rem;
  }
  body{
    font-size: .8rem;
  }
  .form-display-card{    
    height: 65vh;
  }
  .card-content{    
    height: 50vh;
  }
} 

.create-btn{
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: .4em;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  background-color: rgb(240, 236, 236);
  cursor: pointer;
  transition: transform 200ms ease-in-out; 
}
.create-btn:hover, .create-btn:focus{
  transform: scale(1.01);
}
.list-container{
    max-height: 19vh;
    overflow-y: scroll;
}
li{
    list-style: none;     
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 1em;
    width: 100%;
}
.list-icon{
  font-size: 1.5em;
  color: #fff;
  padding: 0.05em .5em;
  border-radius: 50%;
  border: 1px solid #b6b2b2;  
}
.list-icon-income{
  background-color: #14915f;
}
.list-icon-expense{
  background-color: #c9452c;
}
.list-content{
  width: 60%;
  font-size: .8rem;
}
.list-content-title{
  font-weight: 700;
}
.list-delete-btn{
  background-color: #fff;
  border: none;
  font-size: 1em;
  color: #404040;
  margin-right: .5em;
  cursor: pointer;
  width: 20%;
  transition: transform 200ms ease-in-out; 
}
.list-delete-btn:hover, .list-delete-btn:focus{
  transform: scale(1.2);
}
.footer{  
  margin: 2em;
  text-align: center;
  color: #b6b2b2;
}
.footer-text{
  font-size: .8rem;
}
.footer a{
  text-decoration: none;
  color: #04e2fffb;
}
@media(max-width: 755px){
  .form-select{
    font-size: .8rem;
  }  
  .form-row2{
    width: 47.8%;
  }
  .detail-card{
    flex-direction: column;
    justify-content: space-between;  
  }
  .data-display-card{
    width: 100%;
    margin-bottom: 1em;
    order: 1;
  }
  .form-display-card{
    width: 98%;
    height: 70vh;
    margin-bottom: 1em;
    order: 0;
  }  
  .card-content{
    padding: .5em;
    height: 140vh;   
  }
}
@media(max-width: 610px){  
  .form-row2{
    width: 47.8%;
  }   
  .card-content{    
    height: 115vh;   
  }
}
@media(max-width: 505px){  
  .form-row2{
    width: 47.5%;
  }    
  .card-content{    
    height: 95vh;   
  }
}
@media(max-width: 395px){  
  .form-row2{
    width: 47%;
  }   
  .card-content{    
    height: 75vh;   
  }
}


